<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>243844460291-p5cj1ev31pa5mqjo2ug7utb96f7se8va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.243844460291-p5cj1ev31pa5mqjo2ug7utb96f7se8va</string>
	<key>API_KEY</key>
	<string>AIzaSyCat6_FhUsEr7pr-toiUkUOdXXEDWA_FFo</string>
	<key>GCM_SENDER_ID</key>
	<string>243844460291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ios-template</string>
	<key>PROJECT_ID</key>
	<string>ios-template-8cba8</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-template-8cba8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:243844460291:ios:082c8d4143d0b3b8784336</string>
</dict>
</plist>